header{
  margin-bottom: 1.45rem;
  background-Color: #32A1E6;
  background-image: linear-gradient(120deg, #32A1E6 30%, #7ABFEA 91%);
  border-bottom: 3px solid black;
}



.navbar {
  // margin: 0;
  // width: 100%;
  // height: 256;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-Content: space-between;
  flex-Direction: row;
  align-items: flex-start;
  justify-Content: space-between;
  color: #f8f8ff;
  text-Decoration: none;
  border-radius: 60px;
}

#Name {
  margin-left: 0;
  color: #f8f8ff;
  text-Decoration: none;
}

h8 {
  color: #f8f8ff;
  
}

.Link {
  color: #f8f8ff;
  border: none;
  text-decoration: wavy;
  font-family: 'Anonymous Pro', monospace;
}
.Link:hover {
  color: #353634;
}

button {
  background: none;
  border: none;
}

.Dark {
  width: 50px;
  height: 50px;
}


// header {
//   margin-Bottom: 1.45rem;
//   background-Color: #116466;
//   background-Image: linear-gradient(120deg, #116466 60%, #ad6522 51%);
//   height: 120px;
//   border-Bottom: 3px solid black;
  
// }