.navbar {
  margin: 0 auto;
  width: 1330;
  height: 256;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-Content: space-between;
}

#Name {
  margin-left: 0;
  color: #f8f8ff;
  text-Decoration: none;
}

h8 {
  color: #f8f8ff;
  
}

.Link {
  color: #f8f8ff;
  border: none;
  text-decoration: wavy;
  font-family: 'Anonymous Pro', monospace;
}
.Link:hover {
  color: #353634;
}

button {
  background: none;
  border: none;
}

svg {
  max-width: 100px;
  border: 1px solid black;
}

.Expo {
  width: 50px;
}