.Personal2 {
  border-radius: 50cm;
  border: 1px solid black;
}

.Main {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: flex-end;
  justify-content: space-between;
  width: 90%;
}

.Intro {
  max-width: 40%;
  flex: 1;
  margin-right: 10%;
}

h1 {
  border-bottom: 1px solid black;
}

.Pic {
  
  max-width: 40%;
  flex: 1;
  border-radius: 50px;
}

.Header-Links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #f8f8ff;
  text-decoration: none;
  width: 100%;
}