.Personal2 {
  border-radius: 50cm;
  border: 1px solid black;
}

.body {
  display: flex;
  flex-Direction: row;
  flex-Wrap: nowrap;
  justify-Items: flex-end;
  justify-Content: space-between;
  width: 1200px;
  background-image: '../images/sunset.jpg'
}

.Intro {
  max-width:70;
  flex:1;
  margin-right: 10%;
  h1 {
    border-Bottom: 1px solid black;
  }
}

.Pic {
  max-width:500; 
  flex: 1; 
  border-radius: 50px
}