@import '../0-helpers/structures';



.navbar-main {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #eee;
  box-shadow: 0 0 20px 0 #000;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 1.3vw 1.1vh 1.3vw 7vh;

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    @include link-text;
  }

  ul {
    display: flex;
    margin: 0;
    margin-right: 1vw;
    li {
      padding-bottom: 3px;
      list-style: none;
      margin: 0 1vw;
      justify-content: center;
      align-items: center;

      .navbar-link{
        @include link-text;
      }
      
    }
  }




  
}




button {
  background: none;
  border: none;
}

.Dark {
  width: 50px;
  height: 50px;
}

@media(max-width: 500px){
  .navbar-logo{
    font-size: 10px;
  }
}


// @media (min-width: 1025px) {
// 	.navbar-main,
// 	.navbar-list {
// 		display: flex;
// 	}
// 	.navbar-main {
// 		flex-direction: column;
// 		align-items: center;
		
// 		margin: 0 auto;
// 	}

// }

// @media (min-width: 769px) {
// 	.navbar-main  {
// 		flex-direction: row;
// 		justify-content: space-between;
// 	}

// }


