@import '../0-helpers/structures';



.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #eee;
  box-shadow: 0 0 20px 0 #000;
  margin: 0;

  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 10px 15px 10px 50px;

    .Logo {
      display: flex;
      justify-content: center;
      align-items: center;
      @include link-text;
    }

    ul {
      display: flex;
      margin: 0;
      li {
        padding: 0;
        list-style: none;
        margin: 0 10px;
        .Link{
          @include link-text;
        }
        
      }
    }

  }


  
}




button {
  background: none;
  border: none;
}

.Dark {
  width: 50px;
  height: 50px;
}


// header {
//   margin-Bottom: 1.45rem;
//   background-Color: #116466;
//   background-Image: linear-gradient(120deg, #116466 60%, #ad6522 51%);
//   height: 120px;
//   border-Bottom: 3px solid black;
  
// }


