



.navbar {
  left:0;
  right:0;
  top:0;
  margin: auto;
  padding: auto;
  z-index:100;
  background: linear-gradient(90deg, #02aab0, #00cdac);

  //linear-gradient(45deg, #2193b0, #6dd5ed);

  //background-image: linear-gradient(120deg, $color_prime 30%, $color_secondary 91%);
  line-height:2em;
  text-align:right;
  //border-bottom:3px solid rgba(0,0,0,.1);
  //box-shadow: 5em;
  word-spacing: normal;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  .Link {
    color: $white;
    font-size: 1em;
    border: none;
    text-decoration: none;
    font-weight:400;
    transition:all .5s;
    border:0 solid transparent;
  }
  .Link:hover {
    //color: #353634;
    color: $title_black;
    text-decoration: solid;
  }

  
}




button {
  background: none;
  border: none;
}

.Dark {
  width: 50px;
  height: 50px;
}


// header {
//   margin-Bottom: 1.45rem;
//   background-Color: #116466;
//   background-Image: linear-gradient(120deg, #116466 60%, #ad6522 51%);
//   height: 120px;
//   border-Bottom: 3px solid black;
  
// }


