.sidebar-main {
  width: 10vw;
  height: 50vh;
  min-width: 50px;
  max-width: 70px;

  position: fixed;
  z-index: 1;
  top: 35vh;
  left: 1vw;
  background: $secondary_green;
  overflow-x: hidden;
  padding: 1vw 0;
  border-left: 8px solid $prime_green;
  opacity: 0.8;
  a {
    padding: 0.2vw 1.05vh 0.9vw 2.1vh;
    text-decoration: none;
    font-size: 25px;
    color: $prime_blue;
    display: block;
    min-width: 50px;
    
  }
}