


.blog-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 750px;
  width: 1400px;
  min-width: 550px;
  padding: 1.5rem;
  border-radius: 40px 83px 83px 83px;
  -moz-border-radius: 40px 83px 83px 83px;
  -webkit-border-radius: 40px 83px 83px 83px;
  -webkit-box-shadow: 28px 40px 50px 1px rgba(0,0,0,0.9);
  -moz-box-shadow: 28px 40px 50px 1px rgba(0,0,0,0.9);
  box-shadow: 28px 40px 50px 1px rgba(0,0,0,0.9);
  background-color: $tertiary_green;
  &:hover {
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .blog-card-header {
    margin: 0;
    p {
      font-size: 0.5em;
    }
  }
}

.blogView-item {
  margin: 20px 0;
  border-bottom: 1px solid transparent;
  position: relative;
  display: flex;
  flex-direction: column;
      
  &:hover:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
  }
}
blogView-thumbnail {
  padding: 5rem;
  flex: 1;
}

blogView-content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 20px;
  padding-left: 2rem;
}

.blogView-header{
  display: block;
  
  h2 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: .08em;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 10px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.blogView-subtitle {
  h4 {
    display: block;
    text-align: center;
    line-height: 24px;
    color: $subtitle_grey;
    font-size: 22px;
    font-weight: 300;
    margin-block-start: 0.63em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
  }
}