.blogView-item {
	margin-bottom: 5vh;
	color: white;
	min-height: 150px;
	@media(max-width: 500px){
		margin-bottom: 10vh;
	}
  >a {
		text-decoration: none;
		display: flex;
		flex-direction: row;
		padding-right: 3vw;

		@media(max-width: 500px){
			flex-direction: column;
			.blogView-thumbnail{ 
				margin: auto;
      	width: clamp(200px, 80vw, 800px);

				a{
					justify-content: center;
					justify-items: center;
					align-content: center;				}
				img {
					justify-self: center;
					align-self: center;
				}
			}
			.blogView-item .blogView-content {
				width: 100%;
				h1 {
					font-size: 20px;
					line-height: 24px;
				}
				h2 {
					font-size: 14px;
					line-height: 16px;
				}
				p {
					font-size: 12px;
					line-height: 14px;
				}
			}
		}

		&:hover {
			// -webkit-box-shadow: 0px 0px 64px 1px rgba(85,161,129,1);
			// -moz-box-shadow: 0px 0px 64px 1px rgba(85,161,129,1);
			// box-shadow: 0px 0px 64px 1px rgba(85,161,129,1);
			-webkit-box-shadow: 4px 36px 53px -25px rgba(99,95,99,1);
-moz-box-shadow: 4px 36px 53px -25px rgba(99,95,99,1);
box-shadow: 4px 36px 53px -25px rgba(99,95,99,1);
		}
    .blogView-content {
			align-self: center;
      width: clamp(200px, 80vw, 800px);
			margin-right: 0;
			margin-left: 3vh;
			text-align: center;

			div {
					margin-top: 0;
					margin: auto;
					margin-bottom: 0;
					text-align: left;
					position: relative;
					z-index: 1;
					vertical-align: top;
					padding: 0.11em 0em 0em 0em;
					
					h1 {
							font: 1.5em sans-serif;
							line-height: 1.2em;
							margin: 0;
							font-weight: 600;
							color: $black_01;
							box-sizing: inherit;
					}
					p {
							margin: auto;
							padding: auto;
							margin-top: 0;
							display: block;
							display: inline;
							padding: 0; 
							margin: 0;
							font-weight: 100;
							font-size: 0.75em;
							text-align: center;
							font-style:italic;
							color: $prime_01; 
					}
					h2 {
							display: block;
							text-align: left;
							line-height: 1.1em;
							color: $grey_06;
							font-size: 1.1em;
							font-weight: 300;
							margin-block-start: 0.11em;
							margin-block-end: 0.11em;
							margin-inline-start: 0px;
							margin-inline-end: 0px;
					}
				
					
				}
				.blogView-date{
					margin-top: 0;
					padding-top: 0;
				}
			}
	}
	.blogView-thumbnail {
		max-width: 300px;
		width: 40%;
	}
}

.brighten {
  -webkit-filter: brightness(80%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  &:hover {
  -webkit-filter: brightness(105%);
  }
  
  }
  

