


.blog-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 750px;
  width: 1400px;
  min-width: 550px;
  padding: 1.5rem;
  border-radius: 40px 83px 83px 83px;
  -moz-border-radius: 40px 83px 83px 83px;
  -webkit-border-radius: 40px 83px 83px 83px;
  -webkit-box-shadow: 28px 40px 50px 1px rgba(0,0,0,0.9);
  -moz-box-shadow: 28px 40px 50px 1px rgba(0,0,0,0.9);
  box-shadow: 28px 40px 50px 1px rgba(0,0,0,0.9);
  background-color: $tertiary_green;
  &:hover {
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .blog-card-header {
    margin: 0;
    p {
      font-size: 0.5em;
    }
  }
}

.post-list__item {
  display: flex;
  flex-direction: row;
  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;
  }
  padding: 1rem;
}
.post-list__thumbnail {
  padding: 1rem;
}

.post-list__content {
  padding: 1rem;
  text-align: left;
}