.social {
    @extend %flex_container;
}


.icon2 {
    max-width: 50px;
    border: none;
    padding: 10px;
    transition: all .2s ease-in-out; 
    &:hover {
      transform: scale(1.1); 
    }
  }