//@import 'compass';

// n is number of stars required
@function multiple-box-shadow($n) { 
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

  
.landing-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90vw;
  height: 20vh;
  text-align: center;

  h1 {
    color: white !important;
    font-weight: 300;
    font-size: clamp(16pt, 5vw, 30pt);
    letter-spacing: 0.025em;
    line-height: 120%;
    margin: 0 auto;
  }
  

  h2 {
    display: block;
    text-align: center;
    margin: 0;
    line-height: 5vh;
    color: $grey_05;
    font-size: clamp(10pt, 2vw, 12pt);
    font-weight: 200;
  }
  // span{
  //   background: -webkit-linear-gradient(white, #38495a);
  //   // -webkit-background-clip: text;
  //   // background-clip: text;
  //   // -webkit-text-fill-color: transparent;
  // }
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
    
}







.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
}

.stars2 {
  position: absolute;
  width: 2px;
  height: 2px;
  left: 0;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    left: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
  
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    left: 0;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

// #title




@keyframes animStar {
  from	{transform: translateY(0px)}
  to		{transform: translateY(-2000px)}
}


// .landing-illustration {
//   max-width: 100vw;
//   max-height: 50vh;
//   margin: auto;
//   margin-top: 8vh;
//   // position: relative;
//   // padding-left: 0vw;
//   // border-left: 8px solid $prime_green;
//   .landing-SVG {
//     max-width: 50vw;
//     max-height: 45vh;
//     background: rgb(9, 0, 172);
//     background: linear-gradient(0deg,#53ae00 28%, rgba(0,182,184,1) 28%, rgba(0,212,255,1) 100%);
//     border-radius: 10%;
//     border: 2px solid #808080;
//     opacity: 95%;
//   }
// }