.quote-body {
  width: 25vw;
  border-right: 2px solid $text_black; 
  flex: 1;
}

.quoteList-header {
  text-decoration: underline;
  margin: 4%;
  align-self: center;
}

.quotes-section {
  align-self: center;
  margin: auto;
  width: 80vw;
}

.quote-content {
  border-top: 2px solid $prime_green;
  text-align: left;
  font-size: 12pt;
  align-self: center;
  justify-self: center;
  margin-top: 3vh;
  .quote-author{
    text-align: center;
    text-decoration: underline;
  }
}

.quoteList-body {
  align-items: flex-start;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-around;
  //background-color: aqua;
  :last-child {
    border-right: none;
  }
}