.quote-body {
  border-radius: 5%;
  border: 2px solid #111111;
  width: 25vw;
  height: 50vh;
}

.quoteList-header {
  border: 3px solid rgb(49, 45, 45);
  margin: 4%;
  align-self: center;
}

.quotes-section {
  align-self: center;
  margin: auto;
  width: 80vw;
  
}

.quote-content {
  text-align: left;
  font-size: 14pt;
  align-self: center;
  justify-self: center;
}

.quoteList-body {
  align-items: center;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-around;

}