.skills-body{
  align-self: center;
	text-align: center;
	width: clamp(300px, 80vw, 1400px);
	position: relative;
  margin: auto;
  margin-bottom: 10vh;
  text-align: center;
  @media (min-width: 700px) {
    display: flex;
    flex-flow: row-reverse nowrap;
  }
}



.skills-SVG {
  max-width: 80vw;
  max-height: fit-content;
  margin: auto;
  flex: 1;
  @media (min-width: 700px) {
    margin-bottom: -20vh;
    max-width: 40vw;
    max-height: 80vh;
  }
}

.skills-illustration {
  max-width: 40vw;
}



.skills-wrapper{
  position: relative;
  flex: 1;
  @media (min-width: 700px) {
    max-width: 40vw;
    max-height: 60vh;
    font-family: 'Roboto', sans-serif;
    margin:0 auto;

  }
  .skills-title {
    font-size: clamp(24px, 2.25vw, 32px) !important;

  }
  }
  .skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: visible;
    
  }
  .skill > p {
    font-size: 10pt;
    font-weight: 400;
    color: #1a1716;
    margin: 0;
    text-align: left;
  }
  .skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
  }
  .skill-bar {
    width: 100%;
    height: 5px;
    background: $prime_03;
    display: block;
    position: relative;
  }

  .skill-bar span{
    position: absolute;
    border-top: 5px solid  $prime_03;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
  }
  .skill-bar {
    position: relative;
  }
  /* SKILL 1 */
  .skill1{
    width: 75%;
    
  }
  
  .skill1 .skill-count1 {
      right: 0;
  }
  /* SKILL 2 */
  .skill2{
      width: 65%;
  }

  .skill2 .skill-count2 {
      right: 0;
  }
  /* SKILL 3 */
  .skill3{
      width: 85%;
  }
  .skill3 .skill-count3 {
      right: 0;
  }

  /* SKILL 4 */
  .skill4{
      width: 45%
  }

  .skill4 .skill-count4 {
      right: 0;
  }

  /* SKILL 5 */
  .skill5{
      width: 80%;
  }

  .skill5 .skill-count5 {
      right: 0;
  }

  /* SKILL 6 */
  .skill6{
      width: 60%
  }

  .skill6 .skill-count6 {
      right: 0;
  }