
.homePage-landing {
    align-self: center;
    //text-align: center;
    position: relative;
    z-index: 1;
    margin: auto;
    //text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
}

.homePage-quotes {
		margin-top: 30vh;
    border-top: 5px solid $prime_green;
    border-bottom: 5px solid $prime_green;
    background-color: azure;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.homePage-skills {
	margin-top: 30vh;
}

h1.splitting {
  color: saturate(lighten(#182952,55%),60%);
  .char {
    transition: transform .3s cubic-bezier(.3, 0, .3, 1), opacity .3s linear;
    transition-delay: calc( 20ms * var(--char-index) );

  }

  &[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY( .25em );
  }
}

/* ---------------------------------- */
.page {
  max-width: 30em;
  margin: auto;
  overflow: hidden;
}




// .backgroundImage {
//   width: 100%;
//   background-position: bottom center;
//   background-repeat: repeat-y;
//   background-size: cover;
          // .Pic {
          //   max-width:500; 
          //   flex: 1; 
          //   border-radius: 50px
          // }
//}