


.index {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.content {
  position: relative;
  z-index: 1;
  margin:0 auto;
  max-width: 900px;
  text-align: center;

  h2 {
    margin: 0;
    padding: 0;
    color: $title_black;
    font-size: 3em;
  }

  p {
    margin-top: 1em;
    color: $text_black;
    font-size: 1.2em;
  }
}



// .backgroundImage {
//   width: 100%;
//   background-position: bottom center;
//   background-repeat: repeat-y;
//   background-size: cover;
          // .Pic {
          //   max-width:500; 
          //   flex: 1; 
          //   border-radius: 50px
          // }
//}