
.homePage-landing {
    align-self: center;
    text-align: center;
    width: 70%;
    position: relative;
    z-index: 1;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.homePage-quotes {
    border-top: 5px solid $prime_green;
    border-bottom: 5px solid $prime_green;
    background-color: azure;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}






// .backgroundImage {
//   width: 100%;
//   background-position: bottom center;
//   background-repeat: repeat-y;
//   background-size: cover;
          // .Pic {
          //   max-width:500; 
          //   flex: 1; 
          //   border-radius: 50px
          // }
//}