@import './global.scss';


.index {
  display: flex;
  flex-Direction: row;
  flex-Wrap: nowrap;
  justify-Items: flex-end;
  justify-Content: space-between;
  width: 1200px;
  background-image: '../images/sunset.jpg'
}

.intro {
  width:70%;
  flex:1;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  h1 {
    border-Bottom: 1px solid black;
  }
}



// .backgroundImage {
//   width: 100%;
//   background-position: bottom center;
//   background-repeat: repeat-y;
//   background-size: cover;
          // .Pic {
          //   max-width:500; 
          //   flex: 1; 
          //   border-radius: 50px
          // }
//}