@import './_variables.scss';

%header-link {
  color: $prime_green;
  font-size: 0.7em;
  border: none;
  text-decoration: none;
  font-weight:400;
  transition:all .5s;
  border:0 solid transparent;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 200;

  &:hover {
    //color: #353634;
    color: $title_black;
    text-decoration: solid;
  }
}



%btn {
  padding: 10px;
  color:#fff;
  cursor: grab;
  border: none;
  box-shadow: blue;
  font-size: 14px;
  width: 150px;
  margin: 5px 5px;
  border-radius: 10px;
  text-align: center;
  display: block;
}

%darkbg {
	border: 1px  solid  #000000;
	background: #101010;
	box-shadow: 0  1px  5px  0  rgba(#404040, 0.6);
}

%flex_container {
  flex: 1;
  padding: 5, 5, 5, 5;
}