$font-primary: 'Roboto', sans-serif; 
$font-secondary: Arial, Helvetica, sans-serif;

$tera: #ffeb3b; 
$dark:#000000; 
$grey:#919191; 
$light:#dddddd; 
$white:#FFFFFF; 
$off_white: #f8f8ff;
$color_prime: #5ad67d;
$color_secondary: #7ABFEA;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$green: #18AC4D;
$spring_green: #34EF9E;
$full_yellow: #EF9E34;
$picton_blue: #3485EF;
$electric_violet: #9E34EF;