

// FONT FAMILIES AND TYPES
$font-secondary: 'Merriweather', serif;
$font-primary: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

// BASE UI COLORS | GREY, BLACK, WHITE 

$grey_01: #e9ecef;
$grey_02: #e1e0e0;
$grey_03: #e2e2e2;
$grey_04: #757575;
$grey_05: #a2a2a2;
$grey_06: #919191; 

$black_01: #36454f;
$black_02: #292929;
$black_03: #212529;

$prime_white: #ebecf1;
$light:#dddddd; 



// PRIME COLOR AND ITS SHADES

$prime_01: #29CFBB;
$prime_02: #39524f;
$prime_03: #1f9c8d;
$prime_04: #104f48;
$prime_05: #bbd7d3; 

$secondary_blue: #588BAE;




// SCSS BREAKPOINTS
$phone_width: 500px;
$tablet_width: 768px;
$desktop_width: 1024px;


// SCSS ANINIMATIONS
$easing: cubic-bezier(0.5, 0, 0.5, 1);
