$font-primary: 'Roboto', sans-serif; 
$font-secondary: Arial, Helvetica, sans-serif;

$tera: #ffeb3b; 
$dark:#000000; 
$grey:#919191; 
$light:#dddddd; 
$white:#FFFFFF; 


$prime_white: #ebecf1;

$prime_green: #24a19c;
$secondary_green: #6ebfb5;

$prime_blue: #3282b8;

$prime_orange: #e1755e;

$prime_brown: #5d554b;

$subtitle_grey: #757575;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

$text_black: #212529;
$title_black: #292929;


$green: #18AC4D;
$spring_green: #34EF9E;
$full_yellow: #EF9E34;
$picton_blue: #3485EF;
$electric_violet: #9E34EF;