.project-title {
  text-align: center;
  margin: 0;
  margin-top: 20vh;
  h1 {
    color: $black_01;
  }
  h2 {
    display: block;
    text-align: center;
    line-height: 24px;
    color: $grey_06;
    font-size: 32px;
    font-weight: 300;
    margin-block-start: 0.63em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}



.project-list {
  margin: 3rem;
  margin-top: 1em;
  &__content {
    padding: 1rem;
    text-align: center;
    a {
      margin: auto;
    }
  }
  &__excerpt {
    padding-bottom: 2rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    // @media (min-width: 1400px) {
    //   flex-direction: row;
    // }
    padding: 1rem;
    margin-bottom: 4rem;
    border-bottom: 2px solid black;
    &:hover:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: transparent;
    }
  }
  &__thumbnail {
    align-self: center;
    width: 100%;
    max-width: 800px;
  }
}